<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>add empresa top</h1>

	<form action="/adicionar/cadastrar" method="post">
		<p>Nome empresa <input type="text" name="name_empresa"> </p>
		<p>Nome presidente <input type="text" name="name_presidente"> </p>
		<p>cnpj <input type="number" name="cnpj"> </p>
		<p>telefone <input type="text" name="telefone"> </p>
		<p>email <input type="text" name="email"> </p>
		<p>data_criacao <input type="date" name="data_criacao"> </p>
		<p>endereco <input type="text" name="endereco"> </p>
		<p>location <input type="number" name="location"> </p>
		<p>services <input type="text" name="services"> </p>


		<button type="submit">Add</button>
	</form>
</body>
</html>