<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Empresa</h1>

		<p> <%=empresa[0].name_presidente %> </p>
		<p> <%=empresa[0].name_empresa %> </p>

	<button><a href="editar_emp?id_empresa=<%=empresa[0].id_empresa %>">Editar</a></button>

	<button><a href="excluir_emp?id_empresa=<%=empresa[0].id_empresa %>">Excluir</a></button>
</body>
</html>
